{% extends 'admin/base.html.twig' %}

{% block title %}Event{% endblock %}

 {% block body %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Events</h1>
    <div class="row">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
            </tr>

            <tr>
                <th>Image</th>
                <td><img style="margin-bottom: -18px" src="{{ asset('uploads/' ~event.image~'') }}" width="200" height="100"></td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('event_management') }}" class="btn btn-warning btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
                <span class="text">Back to list</span>
            </a>

            <a href="{{ path('event_management_edit', {'id': event.id}) }}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                <span class="text">edit</span>
            </a>



    </div>
</div>
    {{ include('admin/event_management/_delete_form.html.twig') }}

{% endblock %}
