{{ form_start(form) }}
{{ form_widget(form) }}
<!------------------------------------------ Buttons --------------------------->


<a href="{{ path('event_front') }}" class="btn btn-warning btn-icon-split">

    <span class="text">Back to list</span>
</a>




<a href="{{ path('reserver_index') }} "class="btn btn-warning btn-icon-split">


    <i class="fas fa-check"></i>

    <span class="text">save</span>
</a>



{{ form_end(form) }}

