{% block body %}
    <h1 align="center"> List Of Reservations </h1>

    <table class="table">
        <thead>
        <tr>
            <th style=" border: 1px solid black;
               padding: 10px ; background-color: #FFDAB9">Id</th>
            <th style=" border: 1px solid black;
               padding: 10px;background-color: #FFDAB9">Name of Material</th>
            <th style=" border: 1px solid black;
               padding: 10px ;background-color: #FFDAB9">User name</th>
            <th style=" border: 1px solid black;
               padding: 10px;background-color: #FFDAB9">Date Start</th>
            <th style=" border: 1px solid black;
               padding: 10px;background-color: #FFDAB9">Date End</th>
        </tr>
        </thead>
        <tbody>
        {% for material_reservation in material_reservations %}
            <tr>
                <td style=" border: 1px solid black;
               padding: 10px">{{ material_reservation.id }}</td>
                <td style=" border: 1px solid black;
               padding: 10px">{% for material in materials %}
                        {% if material_reservation.material.id==material.id %}
                            {{ material.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style=" border: 1px solid black;
               padding: 10px">
                    {% for user in users %}
                        {% if material_reservation.user.id==user.id %}
                            {{ user.lastName }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style=" border: 1px solid black;
               padding: 10px">{{ material_reservation.dateStart ? material_reservation.dateStart|date('Y-m-d') : '' }}</td>
                <td style=" border: 1px solid black;
               padding: 10px">{{ material_reservation.dateEnd ? material_reservation.dateEnd|date('Y-m-d') : '' }}</td>



            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}

