

{% block body %}
<h1 align="center">Material </h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>NumReservation</th>
        <th>Prix</th>
        <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    {% for material in materials %}
        <tr>
            <td>{{ material.id }}</td>
            <td>{{ material.name }}</td>

            <td>{{ material.description }}</td>
            <td>{{ material.quantity }}</td>
            <td>{{ material.nbrmatrres }}</td>
            <td>{{ material.prix }}</td>
            <td>{{ material.availability ? 'Yes' : 'No' }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}