{% extends 'base.html.twig' %}

{% block title %}Renting{% endblock %}

{% block body %}
    <h1>Liste de Materiel disponibles </h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Disponibility</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.id }}</td>
                <td>{{ materiel.name }}</td>
                <td>{{ materiel.description }}</td>
                <td>{{ materiel.disponibility ? 'Yes' : 'No' }}</td>
                <td>{{ materiel.price }}</td>
                <td>
                    <a href="{{ path('renting_materiel_show', {'id': materiel.id}) }}">show</a>
                    <a href="{{ path('front_reservation_materiel_new', {'id': materiel.id}) }}">Rent</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

    </table>
    {{ include('renting_front/reservation_materiel/index.html.twig') }}

{% endblock %}

