{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div style="width:800px; margin:0 auto;">
        <a href="blog-single.html" class="block-20 rounded img-2" style="background-image:{{ asset('uploads/'~event.image) }};">
        </a>
        <div class="text mt-3">
            <div class="meta mb-2">
                <div class="blog__details__text">
                    <h3 align="center">{{ event.title }}</h3>
                    <img align="center" src="{{ asset('uploads/'~event.image) }}" width="1000" height="500" alt="">

                    <br>

                    <span class="bg-main-2"> Prix : {{ event.prix }} DT</span>
                    <br>

                    <span class="bg-main-2">Start:{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }} </span>
                    <br>
                    <span class="bg-main-2">End:{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</span>
                    <br>
                    <span class="bg-main-2">  description: {{ event.description }}</span>
                    <br>
                    <span class="bg-main-2"> type : {{ event.type }}</span>

                </div>

            </div>
        </div>
        <div >
                    <a class="btn btn-success" href="{{ path ('event_front',{'id': event.id}) }}">Back to list</a>

                </div>
            </div>
    </div>
</div>
{% endblock %}
